In [11]:
#!wget --version
#wget www.google.com -nc -O 03_time_series_basics/data/airline_passengers.csv  https://lazyprogrammer.me/course_files/airline_passengers.csv
#download it manually

In [7]:
import pandas as pd

In [9]:
df = pd.read_csv('data/airline_passengers.csv', index_col='Month', parse_dates=True)

In [10]:
df.head()

            Passengers
Month
1949-01-01         112
1949-02-01         118
1949-03-01         132
1949-04-01         129
1949-05-01         121